{% extends 'base.html' %}

{% block conteudo %}
<h2 style="text-align: center;">Atualizar Curso</h2>
<hr>
{%- for mensagem in get_flashed_messages()  %}
	<div class="alert alert-danger">
		{{mensagem}}
	</div>
{%- endfor %}

<form action="{{url_for('atualiza_orcamento', id=orcamento.id)}}" method="POST" class="form-control">
	<label>Nome</label>
	<input class="form-control" type="text" name="nome" value="{{orcamento.nome}}" required>
    <label>Celular</label>
	<input class="form-control" type="text" name="celular" value="{{orcamento.celular}}" required>
    <label>Data</label>
	<input class="form-control" type="text" name="data" value="{{orcamento.data}}" required>
    <label>Hora</label>
	<input class="form-control" type="text" name="hora" value="{{orcamento.hora}}" required>
	<label>Descrição</label>
    <textarea class="form-control" name="descricao" required>{{orcamento.descricao}}</textarea> 
	<button class="btn btn-success">Atualizar</button>
</form>
{% endblock conteudo %}