{% extends 'base.html' %}

{% block conteudo %}

<body>
  <br>
    <h1 class="textoDoce">Bolos de Casamento</h1>
  <main class="cards">
      <section class="card bolo1">
          <div class="icon ">
              <img src="\static\img\a1.png" class="tamBC" alt="Contact us.">
          </div>
          <h3>Bolo Naked</h3>
          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo01">
            Leia mais
          </button>
        
          <!-- Modal -->
          <div class="modal fade" id="modalExemplo01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Bolo Naked</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    Para o nosso bolo Naked Cake, começamos com uma receita básica de bolo de baunilha ou chocolate, que é assado em camadas. Depois de esfriar, as camadas são empilhadas em cima umas das outras, com uma fina camada de recheio de sua escolha entre elas. Em seguida, as laterais do bolo são deixadas expostas, criando um visual "naked" ou "sem cobertura". Por fim, o bolo é decorado com frutas, flores ou outros enfeites de sua escolha.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
          <br>
      </section>
      <section class="card bolo2">
          <div class="icon ">
              <img src="\static\img\a2.png" class="tamBC" alt="Shop here.">
          </div>
          <h3>Bolo com Pasta Americana</h3>
          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo02">
            Leia mais
          </button>
        
          <!-- Modal -->
          <div class="modal fade" id="modalExemplo02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Bolo com Pasta Americana</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    Para os nossos bolos com pasta americana, começa-se com uma receita de bolo básico, que é assado e deixado esfriar completamente. Em seguida, a superfície do bolo é coberta com uma fina camada de glacê real para ajudar a pasta americana a aderir. Em seguida, a pasta americana é aberta em uma superfície de trabalho limpa e cortada no tamanho necessário para cobrir o bolo. Depois de colocada sobre o bolo, a pasta americana é alisada e decorada com o tema escolhido..
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
          
          <br>
      </section>
      <section class="card bolo3">
          <div class="icon ">
              <img src="\static\img\a3.png" class="tamBC" alt="About us.">
          </div>
          <h3>Bolo Basico com decoração</h3>
          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo03">
            Leia mais
          </button>
          <!-- Modal -->
          <div class="modal fade" id="modalExemplo03" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Bolo Basico com decoração</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    O nosso bolo básico começa com uma mistura de ingredientes de alta qualidade, incluindo farinha de trigo, açúcar, ovos, óleo vegetal, leite e fermento. Todos os ingredientes são cuidadosamente medidos e misturados para criar uma massa suave e homogênea. Em seguida, o bolo é assado em um forno de convecção até ficar dourado e macio.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
          <br>
      </section>
      <section class="card bolo4">
        <div class="icon ">
            <img src="\static\img\a4.png" class="tamBC" alt="About us.">
        </div>
        <h3>Bolo Red Velvet</h3>
          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo04">
            Leia mais
          </button>
        
          <!-- Modal -->
          <div class="modal fade" id="modalExemplo04" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Bolo Red Velvet</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    O nosso bolo Red Velvet é uma receita especial que combina ingredientes como farinha de trigo, açúcar, cacau em pó, corante vermelho, óleo vegetal, ovos, vinagre branco e buttermilk. Os ingredientes são misturados até obter uma massa suave e homogênea, que é assada em um forno de convecção. Após o bolo esfriar, ele é coberto com uma camada de creme de cream cheese caseiro para adicionar um sabor único..
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
        <br>
    </section>
  </main>

</body>

{% endblock conteudo %}