<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/classes.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <title>Divino Sabor Buffet</title>
</head>
    <body class="back_login">
        <!-- Section: Design Block -->

<section class="text-center text-lg-start">
  <style>

  </style>

  <!-- Jumbotron -->
  <div >
    <div class="align-items-center">
      <div >
        <div class="registrar" style="
            background: hsla(0, 84%, 75%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class=" mb-5 fonteCadastrar">Cadastre-se</h2>
            <form action="{{url_for('cadastrar')}}" method="POST" >
              <!-- NOME--------------------------------------------------------->
              <div class="form-outline mb-4">
                <input type="text" name="nome" class="form-control" placeholder="Nome completo" required />
                <label class="form-label fonteDadosCadastro" for="form3Example3" > Nome</label>
              </div>

              <!-- EMAIL ------------------------------------------------------------->
              <div class="form-outline mb-4">
                <input type="email" name="email" class="form-control" placeholder=" xxxxx@gmail.com" required/>
                <label class="form-label fonteDadosCadastro" for="form3Example3">Email</label>
              </div>

                <!-- CELULAR------------------------------------------------------------->
                  <div class="form-outline mb-4">
                    <input type="number" name="celular" class="form-control" placeholder=" (xx)xxxxx-xxxx" required/>
                    <label class="form-label fonteDadosCadastro" for="form3Example3">Celular</label>
                  </div>

              <!-- CPF ------------------------------------------------------------->
              <div class="form-outline mb-4">
                <input type="number" name="cpf" class="form-control" placeholder=" xxx.xxx.xxx-xx" required/>
                <label class="form-label fonteDadosCadastro" for="form3Example3">CPF</label>
              </div>

              <!-- ENDEREÇO ------------------------------------------------------------->
              <div class="row">
                <p class="fonteDadosCadastro">Endereço</p>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="rua" class="form-control" placeholder="Ex: Joaquim da Silva"required />
                    <label class="form-label fonteDadosCadastro" for="form3Example1">Rua</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="number" name="numero" class="form-control" placeholder="Ex: 25" required/>
                    <label class="form-label fonteDadosCadastro" for="form3Example2">Número</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="bairro" class="form-control" placeholder="Ex: Jardim Brasília" required/>
                    <label class="form-label fonteDadosCadastro" for="form3Example1">Bairro</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="cidade" class="form-control" placeholder="Ex: Belo Horizonte"required/>
                    <label class="form-label fonteDadosCadastro" for="form3Example2">Cidade</label>
                  </div>

                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="uf" class="form-control" placeholder="Ex: MG" required>
                    <label class="form-label fonteDadosCadastro" for="form3Example2">UF</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="number" name="cep" class="form-control" placeholder="xxxxx-xxx" required/>
                    <label class="form-label fonteDadosCadastro" for="form3Example2">CEP</label>
                  </div>
                </div>
              </div>

              <!-- SENHA-->
              <div class="form-outline mb-4">
                <input type="password" name="senha" class="form-control" required/>
                <label class="form-label fonteDadosCadastro" for="form3Example4">Senha</label>
              </div>

               <!-- CONFIRMA SENHA  -->
              <div class="form-outline mb-4">
                <input type="password" name="senha_veri" class="form-control" required/>
                <label class="form-label fonteDadosCadastro" for="form3Example4">Confirmar Senha</label>
              </div>

              <!-- Checkbox -->
              <!-- <div class="form-check d-flex justify-content-center mb-4"> 
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div>-->
              <!-- BOTAO DE CADASTRAR -->
                <button class="btn btn-outline-light btn-lg px-5 fonteDadosCadastro" type="submit">Cadastre-se</button>

              <!-- Register buttons 
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>-->
            </form>
          </div>
        </div>
      </div>
        <!-- IMAGEM -->
      <!-- <div class="col-lg-6 mb-5 mb-lg-0"> 
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>-->
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
        
</body>
</html>